* {
  margin: 0;
  padding: 0;
  box-sizing: 0; }

body {
  background-image: url("https://media.gettyimages.com/photos/empty-gym-picture-id1132006407?s=2048x2048");
  background-position: center center;
  font-family: 'Times New Roman', Times, serif; }

.titulo {
  display: flex;
  justify-content: center;
  margin: 10px; }

h1 {
  background-color: rgba(235, 184, 122, 0.927);
  display: inline-block;
  width: 100%;
  padding: 20px;
  text-align: center; }

nav {
  background-color: rgba(235, 184, 122, 0.907);
  text-align: center;
  padding: 10px;
  margin: 0px 5px 0px 5px; }
  nav ul {
    display: inline-block; }
    nav ul li {
      list-style-type: none; }

li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin: 30px; }

.grid-0 {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 3fr 1fr;
  text-align: center;
  gap: 50px;
  height: 100vh; }

.grid-entrenamiento {
  display: inline-block;
  background-color: rgba(235, 184, 122, 0.532);
  margin-top: 5px;
  text-align: center; }

.grid-sobrenosotros {
  display: inline-block;
  background-color: rgba(235, 184, 122, 0.445);
  margin-top: 5px;
  text-align: center; }

footer {
  width: 100%;
  background-color: rgba(235, 184, 122, 0.648);
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 5px; }
  footer p {
    text-align: center; }

.footerGaleria {
  display: flex;
  align-items: center; }

.contenedor {
  width: 1100px; }

h2 {
  text-align: center;
  background-color: rgba(235, 184, 122, 0.564); }

h3 {
  text-align: center;
  background-color: rgba(235, 184, 122, 0.564); }

h4 {
  text-align: center;
  background-color: rgba(235, 184, 122, 0.564);
  text-align: center;
  text-decoration: solid; }

h5 {
  text-align: center; }

.contenedorPadre {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 105vh; }

.contenedorHijo {
  display: flex;
  justify-content: center; }

.hijo5 {
  background-color: #ebb87a;
  background-position: 50px; }

.padreFlex {
  background-color: rgba(176, 118, 48, 0.1);
  background-size: cover;
  display: flex;
  flex-direction: column; }

.clase1 {
  background-color: rgba(235, 184, 122, 0.532);
  background-size: cover;
  display: flex;
  flex-direction: column; }

.grid-footer1 {
  display: grid;
  background-color: rgba(235, 184, 122, 0.321);
  width: 100%; }

.grid-footer2 {
  display: grid;
  background-color: rgba(235, 184, 122, 0.323);
  width: 100%; }

.flex {
  width: auto;
  display: flex;
  justify-content: center;
  margin: 10px; }

.musculacion {
  display: flex;
  justify-content: center; }

.resistencia {
  display: flex;
  justify-content: center; }

.equilibrio {
  display: flex;
  justify-content: center; }

.card-body {
  background-color: rgba(234, 145, 37, 0.585); }
